############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## jester
#############

node_modules/
build/

# see jauco/git-jrnl
journal.txt